.popular {
  margin-bottom: 128px;
  @media(max-width: 769px) {
    margin-bottom: 20px;
  }

  .container {
    .popular-wrap {
      .popular-header {
        margin-bottom: 20px;

        h3 {
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
          color: #222227;
        }
      }

      .popular-block {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        transition: all .25s linear;

        @media(max-width: 1069px) {
          grid-template-columns: repeat(5, 1fr);
        }
        @media(max-width: 913px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media(max-width: 782px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width: 565px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width: 426px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .block {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          background: #FFFFFF;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
          padding: 44px 22px;
          transition: all .25s linear;
          &:hover {
            background-color:#F4F4F4;
          }



          .block-img {
            width: 100%;
            margin-bottom: 17px;

            img {
              width: 70px;
              height: 70px;
            }

          }

          .block-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #4D4D4D;
          }
        }
      }
    }
  }


}
