.products {
  margin-bottom: 60px;
  @media(max-width: 769px) {
    margin-bottom: 20px;
  }
  .container {
    .products-wrap {
      .products-header {
        margin-bottom: 25.08px;

        h2 {
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
          color: #222227;
        }
      }

      .swiper {
        width: 100%;

        &-slide {
          display: flex;
          flex-direction: column;
          width: 215px !important;
          padding: 20px 30px;
          text-align: center;
          gap: 20px;
          height: auto;
          min-height: 170px;

          .block-imag {
            width: 120px;
            align-self: center;

            img {
              width: 100%;
              height: 100%;

            }
          }
          .block-about{
            flex: 1 1 auto;
            .block-title {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #000000;
              margin-bottom: 20px;
            }

            .block-prise {
              color: #FF652E;

            }
          }



          .block-button {
            background: #FF652E;
            border-radius: 8px;
            transition: all .25s linear;
            display: flex;
            justify-content: center;
            padding: 5px 10px;

            button{
              align-self: center;
              font-weight: 700;
              font-size: 14px;
              line-height: 19px;
              color: #FFFFFF;
            }
            .icon{
              width: 25px;
              height: 25px;
            }

            &:hover {
              background-color: #ee490e;
              color: #fff;
              border-color: #ee490e;
            }
          }
        }


        &-button-prev {
          color: black;
          left: 20px;

          &:after {
            font-size: 10px;
          }

          @media(max-width: 769px) {
            display: none;
          }
        }

        &-button-next {
          color: black;
          font-size: 10px;

          &:after {
            font-size: 10px;
          }

          @media(max-width: 769px) {
            display: none;
          }
        }
      }
    }
  }
}
