// -
//     const catalog = [
//         {
//             path: 'img/catalog/Interiors.png',
//             title: 'Межкомнатные двери',
//         },
//         {
//             path: 'img/catalog/entrances.png',
//             title: 'Входные двери',
//         },
//         {
//             path: 'img/catalog/decor.png',
//             title: 'Декор',
//         },
//         {
//             path: 'img/catalog/floor.png',
//             title: 'Напольные покрытия'
//         },
//         {
//             path: 'img/catalog/special.png',
//             title: 'Специальные двери',
//         },
//         {
//             path: 'img/catalog/fittings.png',
//             title: 'Фурнитура',
//         }
//     ];
// each block in catalog
//     img.block-doors(src="#{block.path}")
//h2.block-doors #{block.title}
    .block-doors
        .block-bg
        h2.block-sub-title Межкомнатные двери
    .block-doors
        .block-bg
        h2.block-sub-title Входные двери
    .block-doors
        .block-bg
        h2.block-sub-title Декор
    .block-doors
        .block-bg
        h2.block-sub-title Напольные покрытия
    .block-doors
        .block-bg
        h2.block-sub-title Специальные двери
    .block-doors
        .block-bg
        h2.block-sub-title Фурнитура


section.catalog
    .container
        h1.catalog-title  Каталог товаров
        ul.catalog-block
            li
                a(href="#")
                    .block-container
                        .imag-container
                            img(src="img/catalog/Interiors.png")
                    h2.block-title Межкомнатные двери
            li
                a(href="#")
                    .block-container
                        .imag-container
                            img(src="img/catalog/entrances.png")
                    h2.block-title Входные двери
            li
                a(href="#")
                    .block-container
                        .imag-container
                            img(src="img/catalog/decor.png")
                    h2.block-title Декор
            li
                a(href="#")
                    .block-container
                        .imag-container
                            img(src="img/catalog/floor.png")
                    h2.block-title Напольные покрытия
            li
                a(href="#")
                    .block-container
                        .imag-container
                            img(src="img/catalog/special.png")
                    h2.block-title Специальные двери
            li
                a(href="#")
                    .block-container
                        .imag-container
                            img(src="img/catalog/fittings.png")
                    h2.block-title Фурнитура
