section.newsletter
    .container
        .newsletter-block
            h3.newsletter-text Рассылка для оптовых покупателей и партнеров
            form
                input(type='email', placeholder='Электронная почта')
                button(type='submit') Подписаться


