section.popular
    .container
        .popular-wrap
            .popular-header
                h2 Популярные разделы
            .popular-block
                a(href="#").block
                    .block-imag
                        img(src="img/popular/door.png").block-img
                    p.block-title Эмалевые
                a(href="#").block
                    .block-imag
                        img(src="img/popular/door.png").block-img
                    p.block-title Эмалевые
                a(href="#").block
                    .block-imag
                        img(src="img/popular/door.png").block-img
                    p.block-title Эмалевые
                a(href="#").block
                    .block-imag
                        img(src="img/popular/door.png").block-img
                    p.block-title Эмалевые
                a(href="#").block
                    .block-imag
                        img(src="img/popular/door.png").block-img
                    p.block-title Эмалевые
                a(href="#").block
                    .block-imag
                        img(src="img/popular/door.png").block-img
                    p.block-title Эмалевые
