section.popular
    .container
        .popular-wrap
            .popular-header
                h2 Популярные разделы
            .popular-block
                a(href="#").block
                    .block-imag
                        img(src="img/choice/door/veneer.png").block-img
                    p.block-title Эмалевые
                a(href="#").block
                    .block-imag
                        img(src="img/choice/door/veneer.png").block-img
                    p.block-title Классический стиль
                a(href="#").block
                    .block-imag
                        img(src="img/choice/door/wooden.png").block-img
                    p.block-title Стиль Прованс
                a(href="#").block
                    .block-imag
                        img(src="img/choice/door/enamel.png").block-img
                    p.block-title Стиль Модрн
                a(href="#").block
                    .block-imag
                        img(src="img/choice/door/high-TechStyle.png").block-img
                    p.block-title С МДФ
                a(href="#").block
                    .block-imag
                        img(src="img/choice/door/high-TechStyle.png").block-img
                    p.block-title Современные стиль
