section.popular
    .container
        .popular-wrap
            .popular-header
                h2 Популярные разделы
            .popular-block
                a(href="#").block
                    img(src="#").block-img
                    p.block-title Эмалевые

